<div class="form-group">
    <%= form_for :users, url: invite_user_event_path(@event) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.submit "Add", class: "btn btn-success btn-xs" %>
    <% end %>
</div>
