<h1><%= current_user.first_name %></h1>
<p>Users#show</p>
<p>Find me in app/views/users/show.html.erb</p>


<div class="col-md-4 row">
  <%= link_to "New Event", new_event_path, class: "btn btn-success" %>
</div>
