<div class="form-group">
  <div class="col-xs-4">
    <% if @event.admin?(current_user) %>
      <%= render partial: "events/send_message", locals: {event: @event} %>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-6">
      <%= render partial: "events/conversation", locals: {event: @event} %>
  </div>
</div>
