<div>
  <h1>
    <%= @event.title %><br>
    <small>
      submitted <%= time_ago_in_words(@event.created_at) %> ago by not sure how to access users!
    </small>
  </h1>
</div>

    <% if user_is_authorized_for_event?(@event) %>
    <div class="col-md-4">
      <p>You're allowed to be here!</p>
    </div>
    <% end %>
