<div class="container-fluid col-lg-12">
  <div class="row spacer">
    <div class="col-lg-4 col-md-4 pull-right clearfix offset">
      <h1>
        <%= @event.title %><br>
        <small>
          submitted <%= time_ago_in_words(@event.created_at) %> ago by <%= @event.users.first.first_name %>
        </small>
      </h1>
    </div>
    <div class="col-lg-4">
      <%= render partial: 'member' %>
    </div>
  </div>
</div>
