<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Plan your next event with us</h2>
                <hr class="light">
                <p class="text-faded">Collably has everything you need to easily plan and and host your next party! All of the features and functionality needed to have the time of your life!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
