<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Feel like speaking with our founder Jack? Here are some easy ways to reach him.</p>
            </div>
                <ul class="contact-links">
                    <div class="col-lg-2 col-lg-offset-2 text-center">
                        <li><a href="https://www.linkedin.com/in/jackschuss", class=""><i class="fa fa-linkedin fa-3x wow bounceIn"></i></a></li>
                    </div>
                    <div class="col-lg-2 text-center">
                        <li><a href="https://github.com/yakschuss"><i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i></a></li>
                    </div>
                    <div class="col-lg-2 text-center">
                        <li><a href="mailto:jackschuss+collably@gmail.com"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a></li>
                    </div>
                    <div class="col-lg-2 text-center">
                        <li><a href="https://twitter.com/yakschuss"><i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
</section>
