
<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <p class="copyright text-center">&copy; 2016 by <a target="_blank">Jack Schuss</a>. All Rights Reserved.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="social-media">
        <li>
          <%= link_to "https://www.linkedin.com/in/jackschuss", target: "_blank" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/yakschuss", target: "_blank" do %>
            <i class="fa fa-github"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
