<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>collably</h1>
            <hr>
            <p>Collably allows you to work together with friends to create unforgettable events and parties!</p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
    </div>
</header>
