@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";
@import "font_awesome" ;
@import "animate.min.css";
@import "conversations";
@import "events";
@import "mailbox";
@import "registrations";
@import "todos";
@import "users";
@import "welcome";
@import "navbar";

.user-info {
    margin-top: 9px;
}

.dash-nav {
    background-color: #545860;
}

body {
    padding-top: 65px;
}
