// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.spacer-xl {
    margin-top: 60px;
}

.space {
    margin-top: 20px;
}

.event-title {
    background-color: #a88d9c;
    border-radius: 5%;

}

.email-form{
    padding-left: -15px;
    padding-right: -15px;
}

.btn-color {
    background-color: #bbb193;
    border-color: #bbb193;
    color: #fff;
}
.conversation-links{
    word-spacing: 0.5em;
}
.user-links-danger{
    color: rgb(250, 247, 0);
}
.to-the-right{
    padding-left: 50%;
}

.width-define-collapse-reply{
    width:10%;
}
