// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
    margin-top: 40px;
}

.spacer-xl {
    margin-top: 60px;
}

.event-title {
    background-color: #a88d9c;
    border-radius: 5%;

}

.email-form{
    padding-left: -15px;
    padding-right: -15px;
}
