// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 50px;
  overflow:visible;
}

/* get rid of after adding container-fluid to the correct view, as 15px is automatically added?*/
body {
  padding-left: 65px;
  padding-right: 65px;
}
